{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Read now</title>
</head>
<link rel="stylesheet" href="{% static 'payment/style.css' %}">

<body>
    <section>
        <div class="product">
            <div class="description">
                <h3>{{ product.name }}</h3>
                <hr />
                {% for blog in blogs %}

                <div>
                    <p>{{ blog.blog }}</p>
                <a href="{% url 'home' %}"><button class="button3"> Back </button> </a>

                </div>

                {% endfor %}

            </div>
        </div>
    </section>
</body>

</html>